@import "~bootstrap/scss/bootstrap";

body{
  background-color: black;
  color: aliceblue;
  padding: 0em;
  text-align: center;
}

.card{
  background-color: gray;
}

.navbar{
  border: .10em solid aliceblue;
}

.main-nav{
  display: flex;
  justify-content: left;
}

.login-img{
  border-radius: 1em;
}